	.intro{
		display: flex;
		justify-content: center;
		padding: 2% 2% 2% 2%;
	}
	
	.container{
		display: flex;
		width: 70%;
		flex-direction: column;		
	}

	.contents {
		display: flex;
		justify-content: space-between;
		
	}
	
	.title{
		display: flex;
	}
	
	.people{
		display: flex;
		flex-direction: column;
	}
	.name {
		display: flex;
		
	}
	
	.desc {
		display: flex;
	}
	
	.funcZip {
		display: flex;
		flex-direction: row;
		justify-content: space-between;		
		
	}
	.box{
		display: flex;
		flex-direction: column;
	}
	
	.title{
		font-weight: bold;
		display: flex;
		justify-content: center;
	}
	
	
	#func1{
		background-color: #FAE183;
	}
	
	#func2{
		background-color: #FFAA91;
	}
	
	#func3{
		background-color: #B8EBB1;
	}
	
	#func4{
		background-color: #8FDCFF;
	}
	