html{
	margin: 0;
}

nav{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2%;
}

nav #menue{
	border: 3px solid yellow;
	padding: 7px;
}

nav #menue a:first-child{
	margin-left: 0;
}

nav #menue a{
	font-size: 1.5em;
	text-decoration: none;
	margin-left: 30px;
}

nav #login a:first-child{
	margin-left: 50px;
}

nav #login a{
	font-size:1.2em;
	text-decoration: none;
	margin-left: 10px;
}

nav img{
	margin-right: 50px;
	
}

footer{
	
	display : flex;
	width: 100%;
	background-color: rgb(236, 239, 243);
	height: 150px;
	justify-content: center;
	
}

footer p{
	margin-top: 2%;
	line-height:25px;
}