
#introduction .long-square{
	margin-top : 2%;
	width: 100%;
	background-color: #99DEE6;
	height: 150px;
	position: relative;
	border-top: 2px solid #29B9CA;
	border-bottom: 2px solid #29B9CA;
}

#introduction .circle-profile{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	bottom : -50%;
	left : 10%;
	background-color: white;
	border: 1.5px solid #29B9CA;
	position: relative;
}

#introduction .profile{
	position: absolute;
	top : 40%;
	right : -110%;
}

.profile h2{
	margin-bottom: 2px;
	
}

.profile p{
	margin-top: 0;
	font-size: 1.2em;
}

.introBody{
	margin-top: 5%;
	display: flex;
	margin-left: 27%;
	flex-direction: column;
}

.introBody h4{
	margin-top:5%;
}

.mileage{
	display:flex;
	align-items: center;
	position: relative;
}

.max_score{
	position : absolute;
	left: 35%;
	bottom: 10%;
}

.cur_score{
	position : absolute;
	left: 22%;
	top: 10%;
}

.mileageBar { 
	appearance: none; 
	width: 30%;
	height: 40px;
	} 

.mileageBar::-webkit-progress-bar { 
	background:#f0f0f0;
	box-shadow: inset 3px 3px 10px #ccc; 
	} 

.mileageBar::-webkit-progress-value { 

	background: #1D976C; 
	background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); 
	background: linear-gradient(to right, #93F9B9, #1D976C); 
	}
	
.myMileage{
	border: 1px solid black;
	background-color: #F2F0EE;
	border-radius: 10px;
	padding: 5px;
	margin-left: 5%;
}

.rank_frame{
	position: relative;
}

.rank_frame span{
	position: absolute;
	top: 35%;	
	left: 35%;
	font-size: 1.2em;
}
.basicInfo{
	width: 60%;
	margin-left: 5%;
	
}

.basicInfo td{
	text-align: center;
}

		
.basicInfo table{
	border : 1px solid black;
	border-collapse : collapse;
	width: 100%;
}

.basicInfo td{
	border : 1px solid black;
	border-collapse : collapse;
}

.basicInfo td:nth-child(odd) {
	background-color: #F2F0EE;
	width: 20%;
	height: 50px;
}

.basicInfo td:nth-child(2n) {
	width: 30%;
}

.feedback{
	max-width: 60%;
	margin-left: 5%;	
}

.feedback table{
	border : 1px solid black;
	border-collapse : collapse;	
	width: 100%;
	margin-bottom: 5%;
}

.feedback th{
	background-color: #F2F0EE;
	border-top: 2px solid red;
}

.feedback td{
	text-align: center;
}

.feedback td:first-child {
	width: 20%;
}


.feedback td:nth-child(2) {
	width: 30%;
}

.feedback td:nth-child(3) {
	width: 40%;
}

.feedback td:nth-child(4) {
	width: 10%;
}